form {
  background: #eeeeee; }
  form li {
    padding: 10px 0px; }
    form li li {
      padding: 0; }
  form fieldset {
    margin-top: 20px; }
  form li fieldset {
    padding: 0; }
  form legend, form label {
    color: #333333; }
  form label, form .label {
    padding-bottom: 5px; }
    form label abbr, form .label abbr {
      color: red; }
  form label {
    line-height: 1.4em;
    font-size: 13px; }
  form legend span {
    font-size: 1.4em;
    line-height: 1em; }
    form legend span.label {
      font-size: 1em; }
  form select {
    padding: 3px; }
  form input, form textarea, form select {
    font-family: inherit;
    font-size: 14px; }
  form textarea, form input {
    border: 1px solid #999999;
    padding: 6px 8px;
    line-height: 100%; }
  form .date li, form .time li, form .datetime li {
    margin: 0 0.3em 0 0; }
  form #errorExplanation li {
    margin-left: 15px; }
  form form p, form .errors {
    padding: 3px 0px; }
  form .required input, form .required textarea, form .required select {
    background-color: white; }
  form .error input, form .error textarea, form .error select {
    background-color: #ffcccc;
    border: 1px solid #ff6666; }
  form .optional input, form .optional textarea, form .optional select {
    background-color: white; }
  form .errors {
    color: #aa0000; }
    form .errors li {
      margin-left: 1.2em; }
  form p.inline-errors {
    color: red; }
  form p.inline-hints {
    color: #777777; }
  form .buttons {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px; }
    form .buttons li {
      padding-right: 0.5em; }
    form .buttons input {
      border: 1px solid #999999; }
